.product-content {
    margin: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column; /* Change to column to stack elements vertically */
    align-items: center;
    transition: background-color 0.3s; /* Add transition for smooth color change */
  }
  
.product-content:hover {
    background-color: #e0e0e0; /* Change the background color on hover */
  }

.product-content h2 {
    text-align: center;
}

.product-title {
    font-size: 2.5rem; /* Adjust the font size as needed */
  }
  
.product-image-container {
    flex-shrink: 0;
    margin-bottom: 50px;
  }
  
.product-image {
    max-width: 100%; /* Make sure the image doesn't exceed its container width */
    width: 75%;
    height: auto;
    border-radius: 16px; /* Add border-radius for rounded corners if desired */
  }
